body {
    margin: 0; 
    box-sizing: border-box;
    background-color: lightskyblue;
    font-family: 'PT Sans', sans-serif;
}

/* Header Properties - Start */
.navbar-container{
    background-color: #383c41;
    display: flex;
    height: 117px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index:99;
    transition: all 300ms;
}
#navbar-logo{
    width: 200px;
    height: auto;
    overflow: hidden;
    margin-top: 5px;
}
.flex-container {
    width: 100%;
    justify-content: center;
    display: flex;
    background: linear-gradient(90deg, rgba(0,253,224,1) 5%, rgba(0,212,255,1) 100%);
}
.flex-container a {
    color: #383c41;
    text-decoration: none;
    text-align: center;
    flex: 1;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    transition: all 300ms;
}
.flex-container a:hover {
    background-color: lightgreen;
    color: white;
    font-weight: bold;
    border-radius: 15px 50px;
}
/* Responsive Media */
@media only screen and (max-width: 1100px) {
    .flex-container a {
        margin: center;
        font-size: 20px;
        transition: all 300ms;
        padding: 10px;
    }
}
@media only screen and (max-width: 825px) {
    .navbar-container{
        justify-content: center;
    }
    .flex-container a {
        position: relative;
        float: left;
        margin: center;
        flex: 1;
        font-size: 20px;
        transition: all 300ms;
        padding: 13px;
        height: fit-content;
    }
    .flex-container{
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px) {
    .flex-container a {
        margin: center;
        font-size: 18px;
        transition: all 300ms;
        padding: 10px;
    }
}
/* Header Properties - End */

/* Gallery Properties - Start */
#gallery-description{
    text-align:center; 
    color: white;
    font-size: 25px;
    text-shadow: 0 2px 10px dodgerblue;
    margin-top: 5vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 5vh;
}
.gallery-container{
    transition: all 300ms;
}
.gallery-container h1{
    text-align: center;
    transition: all 300ms;
    font-size: 42px;
    color: white;
    text-shadow: 0 5px 20px dodgerblue;
}
.photo-box {
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,253,224,1) 5%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 25px;
}
.photo-box img{
    max-width: 22vw;
    max-height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 30px 0 30px 0;
}
@media only screen and (max-width: 1300px) {
    .photo-box {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 25px;
    }
    .photo-box img{
        max-width: 40vw;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 800px) {
    .photo-box {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 25px;
    }
    .photo-box img{
        max-width: 40vw;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
    }
    #gallery-description{
        font-size: 22px;
    }
    .gallery-container h1{
        font-size: 36px;
    }
}
@media only screen and (max-width: 600px) {
    .photo-box {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 25px;
    }
    .photo-box img{
        max-width: 80vw;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
    }
    #gallery-description{
        font-size: 18px;
        margin-bottom: 2vh;
    }
    .gallery-container h1{
        font-size: 29px;
    }
}
/* Gallery Properties - End*/

/* Footer Properties */
.footer-container{
    background-color: #383c41;
    display: inline-block;
    height: 80px;
    width: 100%;
    position: sticky;
    bottom: 0px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1{
    text-align: center;
    font-size: 20px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    color: white;
    transition: all 500ms;
    font-weight: normal;
}
@media only screen and (max-width: 800px) {
    .footer-content h1 {
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        padding-left: auto;
        padding-right: auto;
        padding-top: 15px;
        color: white;
        transition: all 500ms;
    }
}

